<div class="jumbotron text-center">
    <h1 class="display-2">SUPER-STACK</h1>
    <br>
    <h5 class="margen">La nueva herramienta SUPER-STACK ofrece tanto a administradores como a clientes de un Supermercado una gestión eficiente, rápida y cómoda del inventario del supermercado así como de sus compras</h5>
</div>

<div class="row align-items-center">
        <div class= "col-md-4 text-center texto">
            <h3>Node/Express</h3>
            <p>Servidor basado en Node.js con framework Express.</p>
        </div>

        <div class= "col-md-4 text-center texto">
            <h3>MongoDB/Mongoose</h3>
            <p>Base de datos basada en MongoDB con Mongoose como herramienta de modelado.</p>
        </div>

        <div class= "col-md-4 text-center texto">
            <h3>Angular</h3>
            <p>Cliente construido con Angular utilizando Angular-CLI.</p>
        </div>
</div>
<br><br>
<div class="row align-items-center">
    <div class= "col-md-4 text-center texto">
        <h3>Bootstrap4</h3>
        <p>Plantillas y animaciones para una interfaz más atractiva</p>
    </div>

    <div class= "col-md-4 text-center texto">
        <h3>Postman</h3>
        <p>Herramienta para comprobar el correcto funcionamiento de la API RESTFUL</p>
    </div>

    <div class= "col-md-4 text-center texto">
        <h3>GitHub</h3>
        <p>Servicio web en la nube para sincronizar el trabajo de los desarrolladores</p>
    </div>
</div>
<br><br>
<div class="row align-items-center">
    <div class= "col-md-4 text-center">
        <h3> </h3>
        <p> </p>
    </div>
    <div class= "col-md-4 text-center texto">
        <h3>Mención honorífica</h3>
        <h3>Traversy Media</h3>
        <p><a href="https://www.youtube.com/user/TechGuyWeb">** Enlace a su canal de YT **</a></p>
    </div>

</div>
